body {
    font-family: Arial, sans-serif;
}

.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form div {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    text-align: center;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
/* Estilo de la tabla de responsables */
.table-container {
    margin-top: 20px;
  }
  
  .centered-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .centered-table th,
  .centered-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .centered-table th {
    background-color: #f2f2f2;
  }
  
  /* Estilo de los campos de los responsables */
  .centered-table input[type="text"] {
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilo de los botones de actualizar y eliminar */
  .submit-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button + .submit-button {
    margin-left: 5px;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  